name: CICD my rh build deployement to ec2

on:
  push:
    branches: [ deploy-to-ec2 ]

jobs:
  build:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build Project
        run: mvn clean install -DskipTests
      - name: Login to docker hub
        run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
      - name: Build docker image
        run: |
          echo "docker_username=${{secrets.DOCKER_USERNAME}}" >> $GITHUB_ENV
          docker build -t elhjoujy/my-rh-backend-v1 .
      - name: Publish image to docker hub
        run: docker push elhjoujy/my-rh-backend-v1:latest

  deploy:
    needs: build
    runs-on: [ aws-ec2 ]
    steps:
      - name: Pull Image from docker hub
        run: sudo docker pull elhjoujy/my-rh-backend-v1:latest
      - name: Delete old container
        run: docker rm -f springboot-example-container
      - name: Run docker container
        run: docker  run -d -p 8080:8080 --name springboot-example-container elhjoujy/my-rh-backend-v1